<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Task</title>
</head>
<body>

 <style type="text/css">
    #centerLayer {
     position: absolute;
     width: 40%;
     height: 30%;
     left: 50%;
     top: 50%;
     margin-left: -20%;
     margin-top: -15%;
     background: #ebebeb;
        outline: 2px solid #000;
    }
 </style>


<div id="centerLayer">

<form method="post" action="{% url 'add_task' %}" style="margin-top:10px; margin-left: 30px">
    <h3 align="center">Add New Task</h3>
    <p>Task Name:
    <input type="text" name="task_name" style="width: 400px"></p>
    <br>
    <p><input type="checkbox" name="done" value="done"><b>Done?</b></p>
    <p style="text-align: right; margin-right: 35px"><input type="submit" value="Add Task"></p>

</form>

    </div>

</body>
</html>